/*hamburger*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

/* Section 1
 * --------------------------------------- */
#section0{
	background-color: #BFDA00;
}
#section0 h1{
	color: #444;
}
#section0 p{
	color: #333;
	opacity: 0.4;
}


/* Section 2
 * --------------------------------------- */
#section1{
	background-color: #2EBE21;
}
#section1 h1{
	color: #fff;
}
#section1 p{
	opacity: 0.8;
}


/* Section 3
 * --------------------------------------- */
#section2{
	background-color: #2C3E50;
}
#section2 h1{
	color: #F2F2F2;
}
#section2 p{
	opacity: 0.6;
}

#hamburger{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
