<!-- .contact -->
<div id="contact" class="content_2">

<h1 class="h-bloc">Contact</h1>


<div class="row">

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Mes coordonnées</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Adresse:</span> Allier, France<br /><br /></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> <a href="mailto:veillault.adrien@gmail.com">veillault.adrien@gmail.com</a></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone:</span> +33 6 47 21 69 45</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Suivez-moi</div>
                    <div class="clear"></div>
                </div>



                    <div id="profile_social">
                        <a href="https://www.facebook.com/profile.php?id=100008751768052"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/adrien-veillault-8aa083130/?lipi=urn%3Ali%3Apage%3Ad_flagship3_people%3ByO5spTwdTni2RpwJVTvtUA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_people-nav.settings_view_profile"><i class="fa fa-linkedin"></i></a>
                        <div class="clear"></div>
                    </div>



            </div>
        </div>
    </div>

</div>
</div>
    <!-- End .contact -->
