<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Curriculum Vitae</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Compétences en design</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>

            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Illustrator</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>3DS Max</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Mockplus</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Balsamiq</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Compétences en programmation</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>HTML/CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>JavaScript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>ReactJS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>PHP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
           <div class="skillbar clearfix" data-percent="50%">
               <div class="skillbar-title"><span>Microsoft SharePoint Framework</span></div>
               <div class="skillbar-bar"></div>
               <div class="skill-bar-percent">50%</div>
           </div>
           <!-- /.skillbar -->
        </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Compétences linguistiques</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Français</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Anglais</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Espagnol</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Italien</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Compétences de loisir</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Ecriture</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Mythes et légendes</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Lecture</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

        </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Mon CV</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="..\assets\Veillault_Adrien_CV.pdf">
            <span data-hover="Télécharger mon CV"><i class="glyphicon glyphicon-download-alt"></i> Télécharger mon CV</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->



     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Assistant Developpeur SI <span class="duration"><i class="fa fa-calendar color"></i> 09/2017 - 09/2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> Michelin</h6>
                <p>Dans le cadre de ma licence professionnelle en développement web, je réalise une alternance au sein de l'équipe d'érgonomie digitale de l'entreprise Michelin. En plus du travail de développement d'un site intranet, je réalise aussi des tâches et des missions d'érgonomie digitale. Je suis occupé de l'éxpérience utilisateur d'un chatbot.</p>
            </li>
            <li>
                <h5>Stage : Développeur web <span class="duration"><i class="fa fa-calendar color"></i> 04/2017 - 06/2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Michelin</h6>
                <p>Stage de fin de DUT MMI. J'ai réalisé des pages pour le site intranet de l'entreprise. J'ai eu pour mission la rédaction des contenus, le maquettage, les tests utilisateurs et la mise en ligne des pages sur l'intranet.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Formation</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Licence pro applications web<span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> Université Clermont-Auvergne</h6>
                <p>Licence professionnelle Métiers de l'informatique : applications web</p>
            </li>
            <li>
                <h5>IBUQ Professionnel en Utilisabilité<span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-book"></span> IBUQ</h6>
                <p>Certification IBUQ : Professional for Usability Engineering</p>
            </li>
            <li>
                <h5>TOEIC : 895/990<span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-book"></span> Université Clermont-Auvergne</h6>
                <p>TOEIC : Test of English for International Communication :895/990 </br>B2 : Avancé</p>
            </li>
            <li>
                <h5>DUT MMI<span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2017</span></h5>
                <h6><span class="fa fa-book"></span> Université Clermont-Auvergne</h6>
                <p>Diplôme Universitaire et Technologique Métier du Multimédia et de l'Internet</p>
            </li>
            <li>
                <h5>BAC Scientifique<span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2015 </span></h5>
                <h6><span class="fa fa-book"></span>Lycée Blaise de Vigenère</h6>
                <p>Lycée Blaise de Vigenère, Saint Pourçain Sur Sioule, Allier</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>




    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>




</div>
<!-- End .resume -->
