<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Design web</span></li>
            <li><span class="filter" data-filter="catGraphic">Design Graphique</span></li>
            <li><span class="filter" data-filter="catMotion">Jeux vidéos</span></li>
            <!-- <li><span class="filter" data-filter="logo">Logo</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="La fée noire : réalisé dans le cadre d'un concours où il fallait intégrer des éléments imposés (la cage, les ailes, le corbeau)">
                        <img src="images/portfolio/1.jpg" alt="La fée noire" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">La fée noire</a>
                                <span class="text-category">Design Graphique</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/2.jpg" rel="portfolio" title="Cocci'Day : Proposition d'affiche pour l'évènement Cocci'Day de l'année 2017">
                        <img src="images/portfolio/2.jpg" alt="Cocci'Day" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Cocci'Day</a>
                                <span class="text-category">Design Graphique</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/3.jpg" rel="portfolio" title="Motus et bouche cousue : illustration du proverbe en s'inspirant du mouvement impressionnisme">
                        <img src="images/portfolio/3.jpg" alt="Motus et bouche cousue : impressionnisme" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Motus et bouche cousue</a>
                                <span class="text-category">Design Graphique</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/4.jpg" rel="portfolio" title="Motus et bouche cousue : illustration du proverbe en s'inspirant du mouvement surréalisme">
                        <img src="images/portfolio/4.jpg" alt="Motus et bouche cousue : surréalisme" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Motus et bouche cousue</a>
                                <span class="text-category">Design Graphique</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/5.jpg" title="Site web de l'Amicale Laïque de Bellerive sur Allier : réalisé de la carde du projet tuteuré de fin de première année de DUT MMI" rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="Site web de l'Amicale Laïque de Bellerive sur Allier" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="http://amicale-laique-bellerive-sur-allier.fr" target="_blank">Site de l'Amicale de Bellerive</a>
                                <span class="text-category">Design web</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/6.jpg" title="Proposition de site Intranet Michelin : Proposition non retenu à cause d'un changement de technologique" rel="portfolio">
                        <img src="images/portfolio/6.jpg" alt="Proposition de site Intranet Michelin" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Proposition d'Intranet Michelin </a>
                                <span class="text-category">Design web</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="https://youtu.be/Okn1OlWYBOE" rel="portfolio">

                        <img src="images/portfolio/7.jpg" alt="Nasha : jeu vidéo réalisé dans le cadre du projet tutoré du deuxième année du DUT MMI" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Nasha</a>
                                <span class="text-category">Jeux vidéos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
