<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profil</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Adrien Veillault</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nom</label>
                <span class="value">Adrien Veillault</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Naissance</label>
                <span class="value">2 avril 1997</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adresse</label>
                <span class="value">Allier, France</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value"><a href="mailto:veillault.adrien@gmail.com">veillault.adrien@gmail.com</a></span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Téléphone</label>
                <span class="value">+33 6 47 21 69 45</span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Je suis actuellement étudiant en Master 1 Ergonomie. Je suis passionné par le multimédia. Je suis quelqu'un qui a toujours soif de connaissance. Je n'ai pas peur d'apprendre de nouvelles choses, j’aime comprendre comment les choses fonctionnent. Je suis quelqu'un de sérieux, de rigoureux et de curieux.</p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
J’ai une formation en multimédia et en développement web. J’ai aussi acquis des compétences en ergonomie digitale durant mon alternance auprès de l’équipe UX de Michelin.</p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Mes services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-code"></i></div>
                <div class="service-detail">
                    <h6>Développement web front</h6>
                    <p>Je suis capable de créer des pages web front en utilisant les divers langages à ma disposition comme le HTML, le CSS, le JavaScript ainsi que de me servir de frameworks comme Jquery ou ReactJS.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-desktop"></i></div>
                <div class="service-detail">
                    <h6>UX Design</h6>
                    <p>Mon DUT en multimédia, mon année d'alternance dans l'équipe d'érgonomie digitale au sein de Michelin et ma certification m'ont permis d'acquérir les compétences de bases en UX Design. Je sais prototyper, mener de simples tests utilisateurs et faire des analyses UX de projets existants.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-edit"></i></div>
                <div class="service-detail">
                    <h6>Rédacteur</h6>
                    <p>Je suis capable de rédiger des articles, des rapports, des fictions... sur le sujet de votre choix. Je possède de bonnes compétences en écritures et je fais peu de fautes.</p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->





<div class="clear"></div>
</div>
<!-- End .profile -->
